<%- include("header") %>
<style>
    *{
  font-family: 'Numans', sans-serif;
}
h1 {
  text-align: center;
}

/* Style the container div */
div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style the home button divs */
.home {
  margin: 0 10px;
}

/* Style the home button links */
.home a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Style the home button links on hover */
.home a:hover {
  background-color: #0062cc;
}
</style>
<h1>Todo List</h1>
<div>
    <div class="home"><a href="/register" role="button">Register</a></div>
    <div class="home"><a href="/login" role="button">Login</a></div>
</div>